<% provide(:title, 'Create question') %>
<h1>Create question</h1>

<div class="form-group">
    <%= form_for(@question) do |f| %>
	
      <%= f.label :name %>
      <%= f.text_field :name %>
	</br>
      <%= f.submit "Create question", class: "btn btn-medium btn-primary" %>
    <% end %>
</div