<footer class="footer">
  <small>
    <a href='#'>Internship Testing Site</a>
    by zBox Labs
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://zboxlabs.com/">zBox Homepage</a></li>
    </ul>
  </nav>
</footer>